SS1_BellaM/SS1_BellaM/
s05-02/.vscode/settings.json
s05-02/images/goldfish.png
s05-02/images/shark.png
s05-02/images/tuna.png
s05-02/index.html
s05-02/jsconfig.json
s05-02/libraries/p5.min.js
s05-02/libraries/p5.sound.min.js
s05-02/sketch.js
s05-02/style.css
s05-03/.vscode/settings.json
s05-03/images/shark.png
s05-03/images/tuna.png
s05-03/index.html
s05-03/jsconfig.json
s05-03/libraries/p5.min.js
s05-03/libraries/p5.sound.min.js
s05-03/sketch.js
s05-03/style.css
s05-04/.vscode/settings.json
s05-04/images/goldfish.png
s05-04/images/shark.png
s05-04/images/tuna.png
s05-04/index.html
s05-04/jsconfig.json
s05-04/libraries/p5.min.js
s05-04/libraries/p5.sound.min.js
s05-04/sketch.js
s05-04/style.css
Session 5/images/tuna.png
Session 5/index.html
Session 5/jsconfig.json
Session 5/libraries/p5.min.js
Session 5/libraries/p5.sound.min.js
Session 5/sketch.js
Session 5/style.css
Tests/boolean expressions/index.html
Tests/boolean expressions/jsconfig.json
Tests/boolean expressions/libraries/p5.min.js
Tests/boolean expressions/libraries/p5.sound.min.js
Tests/boolean expressions/sketch.js
Tests/boolean expressions/style.css
